@import url('https://fonts.googleapis.com/css2? famille=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
COULEURS DEFINIES
:root{
    --transparent: transparent;
    --inherit: inherit;
    --white:#fff;
    --black: #000;
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiary: #99E2D0;
    --night-rider: #353535;
    --white-smoke: #f6f6f6;
    --dim-gray: #686868;
    --whisper: #EAEAEA;
    --blue-chalk: #e4d5f6;
    --silver: #c6bfbf;
    --deep-sea: #009f88;
}
*, :after, :before {
    box-sizing: border-box;
}
body{
font-size: 16px;
margin: 0 auto;
background-color: #f6f6f6;
font-family: 'Roboto', sans-serif;
}
header{
    font-family: "Shrikhand", Arial, Helvetica, sans-serif; 
    text-align: center;
    box-shadow: 0 3px 3px 1px rgba(50, 48, 48, 0.069);
    padding: 4px;
    margin: 0;
    position: relative;
}
html{
    margin:0;
    padding: 0;
}
.loader {
    -webkit-animation: disappear .2s 3s forwards;
    animation: disappear .2s 3s forwards;
    background-color: #fff;
    display: grid;
    height: 100vh;
    inset: 0;
    opacity: .9;
    place-items: center;
    position: fixed;
    transform-origin: top;
    z-index: 1;
}
.loader:after {
    -webkit-animation: spin 1s ease-in-out;
    animation: spin 1s ease-in-out;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
    border-radius: 50%;
    border-right: 5px solid transparent;
    border-top: 5px solid #9356dc;
    content: "";
    height: 100px;
    width: 100px;
}
@keyframes disappear {
    to {
      transform: scale(0);
    }
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
main{
    padding: 0;
    margin: 0 ;
}
main .ville{
    display: flex;
    gap: 16px;
    background-color: var(--white);
    text-align: center;
    justify-content: center;
    padding: 8px;
    align-items: center;
    margin-top: 10px;
}
main .ville i{
    font-size: 16px;
}
/* EXPLORER */

.exploration{
    text-align: center; 
}
.reservez-menu, h2{
    margin-top: 20px;
    font-weight: bold;
    text-align:center;
    
}
.decouverte-resto,  p{
    font-size: 20px;
    align-items: center;
    margin-left: 33%;
    text-align: center;
}
.explore-bouton{
    background-image: linear-gradient(#FF79DA, #9356DC);
    border-radius: 32px;
    width: 25%;
    height: 50px;
    margin-top: 16px;
    border: none;
    color: var(--white);
    transition: transform 200ms;
    font-size: 16px;
    font-weight: bold;
}
.explore-bouton:hover{
    transform: scale(1.02);
    opacity: 0.9;
}
.section-accueil h2{
    text-align: left;
    margin-top: 36px;
    font-size: xx-large;
    
}
.tuto h3:hover{
    transform: scale(1.02);
}
.icone-couleur i{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    flex-basis: 60%;
    margin-right: 40px;
}
.tuto li {
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 1rem;
        box-shadow: 2px 1px 8px -3px #7e7e7e;
        display: flex;
        flex-grow: 1;
        list-style-type: none;
        padding: 1.5rem 2rem;
        position: relative;
}
.tuto li:before {
    background-color: #9356dc;
    border-radius: 50%;
    color: #fff;
    content: counter(steps);
    counter-increment: steps;
    display: grid;
    height: 2rem;
    left: -1rem;
    place-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
}
ol{
    display: flex;
    gap: 25px;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    margin-right:3%;
}

.icone .fa-mobile-alt, .fa-list-ul{
    color:#aba3a3a3;
    margin-left:10%;
    margin-right:10%;
    font-size:20px;
}
.fa-store {
    color: darkorchid;
    margin-right: 10%;
    margin-left:20%;
    font-size:20px;
}
.numero{
    position: relative;
    top: 0;
    left: -0.75rem;
    background-color: /*pink;*/#9356dc;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.liste-grille{
    padding: 1.5rem;
    margin: 1rem 0 1rem .75rem;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: justify;
    background-color:#fff; 
}
.exploration{
    background-color: var(--white-smoke);
}
.menus {
    
    background-color: var(--white-smoke);
}
.menus-cartes {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    padding: 32px;
}
.cartes{
    
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: var(--inherit);
    display: block;
    height: 280px;
    flex-grow:1;
    min-width: 350px;
    
}
.cartes img{
    height: 12rem;
    width: 100%;
    border: 0 solid var(--transparent);
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
    
}
.cartes-description{
        background-color: var(--white);
        border-radius: 0 0 20px 20px;
        position:relative;
}  
.exploration .cartes{
    text-align: left;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    
}
h2{
    text-align:left;
    margin-bottom: 32px;
    margin-left:2%;
}
h3{
    margin-top: 28px;
}
.cartes-description, p{
    margin-bottom: 10px;
    font-size: 18px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    /* border-radius: 1.25rem; */
    height: 38%;
    margin-top: -1%;
}
li .fas{
    flex-basis: 20%;
    margin-bottom: -35px;
    margin-top: -15px;
    font-size: 25px;
}
.fa-arrow-left:before {
    content: "\f060";
    /* margin-right: 50%; */
    margin-left: -540px;
    font-size: 30px;
}
 i{
    font-size: 32px;
    right:16px;
    top: 50%;
    transform:translateY(-50%);
    }
.info-carte{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color:#99E2D0;
    padding: 8px;
    border-radius: 3px;
    color: #009f88;
    }
    
    footer {
        color: white;
        background-color: #353535;
        padding: 20px;
    }
    
    .footer-logo{
        font-family: Shrikhand,"sans-serif";
        font-weight: 500;
        padding: 16px 0;
        font-size: 25px;
}
    
    footer li .icon {
        width: 15px;
        margin-right: 8px;
        font-size: 14px;
    }
    footer span{
        margin-left:5px;
    }
    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
    a{
        line-height: 1.5;
        text-align:left;
        margin:0;
        text-decoration: none; 
        color: #f6f6f6;  
    }
    .cartes .far {
        font-size: 30px;
        margin-bottom:20px;
    }
    .cartes p{
        margin-left: -69%;
        margin-bottom: -20px;
        margin-right: 36%;
        align-items: flex-start;
}

    
    


