@import url('https://fonts.googleapis.com/css2? famille=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

header{
    font-family: "Shrikhand", Arial, Helvetica, sans-serif; 
    text-align: center;
    box-shadow: 0 3px 3px 1px rgba(50, 48, 48, 0.069);
    padding: 4px;
    margin: 0;
    position: relative;
}
main{
    padding: 0;
    margin: 0 ;
}
main .ville{
    display: flex;
    gap: 16px;
    background-color: #f3f3f3;
    text-align: center;
    justify-content: center;
    padding: 8px;
    align-items: center;
}
main .ville i{
    font-size: 16px;
}
/* EXPLORER */

.exploration{
    text-align: center;
    
}
h1{
    margin-left: 5%;
}
.reservez-menu, h2{
    margin-top: 20px;
    font-weight: bold;
    text-align:center;
    
}
.decouverte-resto, p{
    font-size: 20px;
}
.explore-bouton{
    background-image: linear-gradient(#ff79da, #9356dc);
    border-radius: 32px;
    width: 15%;
    height: 40px;
    margin-top: 16px;
    border: none;
    color: white;
    transition: transform 200ms;
    font-size: 16px;
    font-weight: bold;
}
.explore-bouton:hover{
    transform: scale(1.02);
    opacity: 0.9;
}
.section-accueil h2{
    text-align: left;
    margin-top: 36px;
    font-size: xx-large;
    
}
.tuto h3:hover{
    transform: scale(1.02);
}
.carte1, .carte2, .carte3{
    padding: 20px;
    margin: 16px 0 16px 10px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 20px;
    background-color: #f6f6f6;
    position: relative;
    width: 30%;
    height: 70px;
    gap: 64px;
    justify-content: center;
}
.icone .fa-mobile-alt, .fa-list-ul{
    color:darkgrey;
    margin-left:10%;
    margin-right:10%;
}
.icone-couleur .fas {
    color:#9356dc;
    margin-right: 10%;
    margin-left:10%;
}
.numero{
    background: #9356dc;
    color: white;
    width: 6%;
    height: 25px;
    border-radius: 100%;
    position: absolute;
    margin-left: -40px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.liste-grille{
    padding: 1.5rem;
    margin: 1rem 0 1rem .75rem;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    background-color: #fafafa; 
}
.exploration{
    background-color: #fafafa;
}
.menus {
    
    background-color:#f6f6f6;
}
.menus-cartes {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    padding: 32px;
}
.cartes{
    
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    height: 260px;
    flex-grow:1;
    min-width: 350px;
    
}
.cartes img{
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
    
}
.cartes-description{
        background-color: white;
        margin-top:-35px;
        border-radius: 0 0 20px 20px;
        position:relative;
}
 .cartes-description h3, p{
    margin-left:15px;
}   

.exploration .cartes{
    text-align:left;
    
}
h2{
    text-align:left;
    margin-bottom: 32px;
}
h3{
    margin-top: 28px;
}
.cartes-description, p{
    margin-bottom:10px;
    font-size: 18px;
}
 i{
    font-size: 32px;
    position:absolute;
    right:16px;
    top: 50%;
    transform:translateY(-50%);
    }
.info-carte{
    background-color: #99e2d0;
    color: #158c6e;
    padding: 8px;
    border-radius: 2px;
    position: absolute;
    top: 16px;
    right: 12px;
    font-weight: bold;
    width:15%;
    height:30px;
    text-align: center; 
    }
    .footer{
        padding: 16px 0 16px 0;
        margin: 2px 0;
        background: #383838;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .logo{
        
        font-family: shrikhand, cursive;
        font-size: 22px;
        margin-top: 30px;
        color:#fff;
        margin-left: 3%;
        text-align: left;
    }
     a, ul{
        
        text-decoration: none;
        color: white;
        list-style: none; 
    }
    a{
        line-height: 1.5;
        text-align:left;
        margin:0;
    }

