@import url('https://fonts.googleapis.com/css2? famille=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
*,::before,::after{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
header{
    font-family: "Shrikhand", Arial, Helvetica, sans-serif; 
    text-align: center;
    box-shadow: 0 3px 3px 1px rgba(50, 48, 48, 0.069);
    padding: 4px;
    margin: 0;
    position: relative;
}
main{
    padding: 0;
}
main .ville{
    display: flex;
    gap: 16px;
    background-color: rgba(211, 211, 211, 0.97);
    text-align: center;
    justify-content: center;
    padding: 8px;
    align-items: center;
}
main .ville i{
    font-size: 16px;
}
/* EXPLORER */

.exploration{
    text-align: center;
    
}
h1{
    margin-left: 5%;
}
.reservez-menu, h2{
    margin-top: 20px;
    font-weight: bold;
    
}
.decouverte-resto, p{
    font-size: 20px;
}
.explore-bouton{
    background-image: linear-gradient(#ff79da, #9356dc);
    border-radius: 32px;
    width: 15%;
    height: 40px;
    margin-top: 16px;
    border: none;
    color: white;
    transition: transform 200ms;
    font-size: 16px;
    font-weight: bold;
}
.explore-bouton:hover{
    transform: scale(1.02);
    opacity: 0.9;
}
.section-accueil h2{
    text-align: left;
    margin-top: 36px;
    font-size: xx-large;
    margin-left: 13%;
}
.tuto h3:hover{
    transform: scale(1.02);
}
.carte1, .carte2, .carte3{
    padding: 20px;
    margin: 16px 0 16px 10px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 20px;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    width: 25%;
    height: 60px;
}
.icone .fa-mobile-alt, .fa-list-ul{
    color:darkgrey;
    margin-left:10%;
    margin-right:10%;
}
.icone-couleur .fas {
    color:#9356dc;
    margin-right: 10%;
    margin-left:10%;
}
.numero{
    background: #9356dc;
    color: white;
    width: 6%;
    height: 25px;
    border-radius: 100%;
    position: absolute;
    margin-left: -40px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.liste-grille{
    padding: 1.5rem;
    margin: 1rem 0 1rem .75rem;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
}
.resto-img{
    height: 192px;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 16px 16px 0 0;
    box-shadow: none;
    object-fit: cover;
}
.tag{
    background-color: #99e2d0;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    position: absolute;
    top: 1rem;
    right: .75rem; 
}
h2{
    margin-left: 50px;
}


