@import url('https://fonts.googleapis.com/css2? famille=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
*,::before,::after{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
header{
    font-family: "Shrikhand", Arial, Helvetica, sans-serif; 
    text-align: center;
    box-shadow: 0 3px 3px 1px rgba(50, 48, 48, 0.069);
    padding: 4px;
    margin: 0;
    position: relative;
}
main{
    padding: 0 16px;
}
main .ville{
    display: flex;
    gap: 16px;
    background-color: rgba(211, 211, 211, 0.97);
    text-align: center;
    justify-content: center;
    padding: 8px;
    align-items: center;
}
main .city i{
    font-size: 16px;
}
/* EXPLORER */

.exploration{
    text-align: center;
    
}
.reservez-menu h2{
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    
}
.decouverte-resto p{
    font-size: 20px;
}
.explore-bouton{
    background-image: linear-gradient(#ff79da, #9356dc);
    border-radius: 32px;
    box-shadow: 1px 1px 16px 2px rgba (115,110,110,0.76);
    -webkit-box-shadow: 1px 1px 16px 2px rgba(115,110,110,0.76);
    -moz-box-shadow: 1px 1px 16px 2px rgba(143, 138, 138, 0.76);
    width: 35%;
    height:30px;
    margin-top:16px;
    border: none;
    color: white;  
    transition: transform 200ms; 
}
.explore-bouton:hover{
    transform: scale(1.02);
    opacity: 0.9;
}
.section-accueil h2{
    text-align:left;
    margin-top: 36px;
    font-size:xx-large;
}
.tuto h3:hover{
    transform: scale(1.02);
}
.carte1, .carte2, .carte3{
    background-color: #00000000;
    padding-top: 15px;
    margin-top: 16px;
    box-shadow: 4px 4px 2px lightgrey;
    border-radius: 20px 20px;
    text-align:justify;
    height: 50px;
    line-height: 16px;
}
.icone .fa-mobile-alt, .fa-list-ul{
    color:darkgrey;
    margin-left:10%;
    margin-right:10%;
}
.icone-couleur .fas {
    color:#9356dc;
    margin-right: 10%;
    margin-left:10%;
}
.numero{
    background: #9356dc;
    color: white;
    width: 6%;
    height: 25px;
    border-radius: 50px;
    position: absolute;
    margin-left:-8px;
    padding:6px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
}
